<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
        <!-- modal header start -->
        <header class="slds-modal__header">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                onclick={handleCloseModal}>
                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
                </lightning-icon>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Process Events</h2>
        </header>
    <!--modal body start-->
    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
    <h3 class="slds-section-title--divider">Event Information</h3>
    <div class="slds-p-top--large"></div>
    <div class="slds-grid">
    <div class="slds-col">
        <div class="slds-form--stacked">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="relatedToId" >Related To ID</label>
                <div class="slds-form-element__control">
                    <span class="slds-form-element__static">
                        <a href={WhatLinkId} target="_blank" >{WhatName}</a>
                    </span>
                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="nameId" >Name ID</label>
                <div class="slds-form-element__control">
                    <span class="slds-form-element__static">
                        <a href={WhoLinkId} target="_blank" >{WhoName}</a>
                    </span>
                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="startDateTime" >Start Date Time</label>
                <div class="slds-form-element__control">
                    <span  class="slds-form-element__static">{StartDateTime}</span>
                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="nameId" >End Date Time</label>
                <div class="slds-form-element__control">
                    <span  class="slds-form-element__static">{EndDateTime}</span>
                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="nameId" >Description</label>
                <div class="slds-form-element__control">
                    <span  class="slds-form-element__static">{Description}</span>
                </div>
            </div>
            <lightning-input type="checkbox" label="Process Event" name="processEvent" checked ={eventProcessed} onchange={handleProcessEvent}></lightning-input>
            <div class="slds-p-top--small"></div>
        </div>
    </div>
    <div class="slds-col">
        <div class="slds-form--stacked">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="subject" >Subject</label>
                <div class="slds-form-element__control">
                    <a href={eventLinkId} target="_blank">{Subject}</a>
                </div>
            </div>
            
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="location" >Location</label>
                <div class="slds-form-element__control">
                    <span  class="slds-form-element__static">{Location}</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--end EVENT INFORMATION Section-->
    <div class="slds-p-top--large"></div>
    <!--start Task INFORMATION Section-->
    <h3 class="slds-section-title--divider">Task Information</h3>
        <div class="slds-p-top--large"></div>
        <div class="slds-grid">
            <div class="slds-col">
                <lightning-input class="checkbox-align" data-id="logCallCheck"
                                                    label="Create Task" name="createTask" type="checkbox" onchange={handleCreateTask}
                                                    checked={isCreateTask}>
                                                </lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <div class="slds-form-element">
                    <label for="input-23" class="slds-form-element__label"><span
                        class="slds-required">*</span>Subject
                </label>
                <c-search-combo-box object-name="Task" field-api-name="Subject"
                    placeholder="Subject" onvalueselect={handleTaskSub}>
                </c-search-combo-box>
                </div>
            </div>
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <lightning-input type="date" date-style="short"
                    class="dateformatinput validinp" value={newTask.ActivityDate}
                    name="ActivityDate" label="Due Date Only" onchange={handleTask}>
                </lightning-input>
            </div>
            <div class="slds-col slds-p-horizontal_medium">
                <lightning-textarea name="Description" label="Comments"
                    onchange={handleTask}></lightning-textarea>
            </div>
            
        </div>
    <!--end Task INFORMATION Section-->
    <div class="slds-p-top--large"></div>
    <!--start Follow-Up Task INFORMATION Section-->
    <h3 class="slds-section-title--divider">Follow-Up Task Information</h3>
        <div class="slds-p-top--large"></div>
        <div class="slds-grid">
            <div class="slds-col">
                <lightning-input class="checkbox-align" data-id="followTask"
                                                    label="Create Follow-up Task" name="createFollowTask" type="checkbox" onchange={handleCreateFollowUpTask}
                                                    checked={isCreateFollowTask}>
                                                </lightning-input>
            </div>
        </div>
        <template if:true={isCreateFollowTask}>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <div class="slds-form-element">
                    <label for="input-23" class="slds-form-element__label"><span
                        class="slds-required">*</span>Subject
                </label>
                <c-search-combo-box object-name="Task" field-api-name="Subject"
                    placeholder="Subject" onvalueselect={handleFollowUpSub}>
                </c-search-combo-box>
                </div>
            </div>
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <label for="input-22" class="slds-form-element__label"><span
                        class="slds-required">*</span>Assigned
                    To</label>
                <c-look-up-comp object-name="User" field-a-p-i-text="Name"
                    field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                    lookup-icon="standard:user" sel-item={selItem}
                    placeholder="Search Users..." lookup-field-name="AssignedTo"
                    onlookupselected={handleLookupCmpEvent}></c-look-up-comp>
            </div>
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <lightning-input type="date" date-style="short"
                    class="dateformatinput validinp" value={newFollowupTask.ActivityDate}
                    name="ActivityDate" label="Due Date Only" onchange={handleFollowUpTask}>
                </lightning-input>
            </div>
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <lightning-combobox name="Status" label="Status"
                    placeholder="Select Status" options={statusOptions}
                    onchange={handleFollowUpTask} required>
                </lightning-combobox>
            </div>
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                <lightning-combobox name="Priority" label="Priority"
                    placeholder="Select Priority" options={priorityOptions}
                    onchange={handleFollowUpTask} required>
                </lightning-combobox>
            </div>
            <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                
            </div>
            <div class="slds-col slds-p-horizontal_medium">
                <lightning-textarea name="Description" label="Comments"
                    onchange={handleFollowUpTask}></lightning-textarea>
            </div>
            
        </div>
        </template>
        <!--end Follow-Up Task INFORMATION Section-->
        <div class="slds-p-top--large"></div>
        <!--start Selected Provider Locations  Section-->
        <h3 class="slds-section-title--divider">Selected Provider Locations</h3>
        <div class="slds-p-top--large"></div>
        <div class="slds-wrap slds-theme_default">
            <div class="dtTableHeight">
                <lightning-datatable key-field = "Id"
                                        data = {data} 
                                        columns = {columns}
                                        onrowselection = {handleRowSelection}
                                        selected-rows = {selectedRows}
                                        >
                    </lightning-datatable>
            </div>
        </div>
        <!--end Selected Provider Locations  Section-->
    </div>
    <!--Modal Box Button Start-->
    <footer class="slds-modal__footer">
        <lightning-button name='Cancel' label='Cancel' onclick={handleCancel}></lightning-button>
        <lightning-button variant="brand" name='Remove' label='Process' onclick={handleProcess}></lightning-button>
    </footer>
    </div>
    <template if:true={spinner}>
        <lightning-spinner alternative-text="Loading" ></lightning-spinner>
    </template>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <!-- modal end -->
    </template>