.THIS .bread-style { padding: 10px; }
.THIS .padding-bottom { padding-bottom:10px; }
.THIS .listItemPad { padding: 0 6px; }
.THIS a.listItem { border-right: 1px solid #cfcece; display: inline-block; }
.THIS .listItemSelected { color: #000; background-color: #c6e1ff; border-right: 1px solid #666; font-weight: bold; padding: 0 5px; }
.THIS .padding-btm { padding-bottom: 16px; }
.THIS .padding-top { padding-top: 10px; }
.THIS .slds-scope .slds-card__header { padding: 0; margin: 0; }
.THIS .slds-scope .slds-card__body_inner { padding:0; }
.THIS .slds-scope .slds-card__body { margin-top:0; margin-bottom:0; }
.THIS .checkbox-align { display: inline-flex; margin-left: 5px; }
.THIS .info-icon-padding .slds-form-element__icon { padding-top: 2px !important; }
.THIS .customRadioCls .slds-form-element__control .slds-radio { display : inline-block !important; }
.THIS .filter-option-banner{height:8rem;text-align: center;vertical-align: middle;line-height: 6rem;}
.THIS .banner-text{font-style: normal;font-weight: normal;font-size: 12px;color: #6B6D70;}
.THIS .dynamic-grid {margin: 10px; max-height: 20vh; overflow: scroll; width: 100vw; }
.THIS .dynamic-grid-item { padding-right: 10px; }
.THIS .slds-tabs_scoped__content { padding: 0; }

.THIS .select label{
    display:none;   
 }
 
 .THIS .select select{
     line-height: 30px;
     height: 36px;
     min-height: 30px;
 }