<template>
    <lightning-card>
        <h3 slot="title" class="header">Primary Provider Specialty</h3>
        
        <div class="div-container">
            <c-speciality-lookup-component record-id={recordId} is-detail-view=true></c-speciality-lookup-component>
        </div>
    </lightning-card>
</template>