.bread-style { padding: 10px; }
.padding-bottom { padding-bottom:10px; }
.listItemPad { padding: 0 6px; }
a.listItem { border-right: 1px solid #cfcece; display: inline-block; }
.listItemSelected { color: #000; background-color: #c6e1ff; border-right: 1px solid #666; font-weight: bold; padding: 0 5px; }
.padding-btm { padding-bottom: 16px; }
.padding-top { padding-top: 10px; }
.slds-scope .slds-card__header { padding: 0; margin: 0; }
.slds-scope .slds-card__body_inner { padding:0; }
.slds-scope .slds-card__body { margin-top:0; margin-bottom:0; }
.checkbox-align { display: inline-flex; margin-left: 5px; }
.info-icon-padding .slds-form-element__icon { padding-top: 2px !important; }
.customRadioCls .slds-form-element__control .slds-radio { display : inline-block !important; }
.slds-modal__container {max-width: 98rem !important;width: 98% !important;}
.spin{position: relative; display: inline-block;width: 80px; height: 80px;}


.selectcombobox{
    display: initial;
    line-height: 21px;
}

.select .slds-form-element{
    display:none;   
 }
 
.select select{
     line-height: 30px;
     height: 36px;
     min-height: 30px;
 }