<!--
* Healthgrades, inc. claims copyright in this software, its screen
* display designs and supporting documentation. Healthgrades and Healthgrades corporation
* are trademarks of Healthgrades, inc. Any unauthorized use, copying
* or sale of the above may constitute an infringement of copyright
* and may result in criminal or other legal proceedings.
*
@Component Name: logActivityModal
@description: This component is to show activity modal on Practices page.
@Author: Healthgrades Inc.
@Last Modified Date: 04/07/2021
-->
<template>
    <!--Render in Modal-->
    <template if:false={isRenderSalesforce1}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- modal header start -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" 
                            title="Close" onclick={handleCloseModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Log Activity</h2>
                </header>
                <!--modal body start-->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="gen-layout">
                        <div class="slds-grid" if:true={showActivityTab}>
                            <lightning-tabset variant="scoped" active-tab-value={currentActiveTabName}>
                                <template for:each={activityLists} for:item="actItem" for:index="actIndex">
                                    <lightning-tab label={actItem.label} title={actItem.Id} key={actItem.Id} onactive={tabSelected}>
                                        <lightning-layout multiple-rows="true">
                                            <lightning-layout-item padding="around-small" size="12" flexibility="auto, no-shrink"
                                                                if:true={showLoadingActivityFields}>
                                                <div>
                                                    <lightning-spinner alternative-text="Loading" variant="brand" size="medium"></lightning-spinner>
                                                </div>
                                            </lightning-layout-item>
                                            <template for:each={activityTabFlds} for:item="fldName" for:index="fldIndex">
                                                <lightning-layout-item padding="around-small" key={fldName.apiName} size="6">
                                                    <lightning-input type="text" label={fldName.label} name={fldName.apiName}
                                                                    if:true={fldName.showStringField} required={fldName.isRequired}
                                                                    onchange={handlePicklistTxtDtChange}>
                                                    </lightning-input>
                                                    <lightning-input type="date" label="Due Date" name="ActivityDate"
                                                                    if:true={fldName.showDateField} date-style="short" 
                                                                    required={fldName.isRequired} onchange={handlePicklistTxtDtChange}>
                                                    </lightning-input>
                                                    <lightning-input type="checkbox" name={fldName.apiName} label={fldName.label} 
                                                                    required={fldName.isRequired} if:true={fldName.showBooleanField}
                                                                    onchange={handleCheckBoxChange}>
                                                    </lightning-input>
                                                    <lightning-textarea name={fldName.apiName} label={fldName.label} 
                                                                        required={fldName.isRequired} if:true={fldName.showTextareaField}
                                                                        onchange={handlePicklistTxtDtChange}>
                                                    </lightning-textarea>
                                                    <lightning-combobox name={fldName.apiName} label={fldName.label} if:true={fldName.showPicklistField}
                                                                        required={fldName.isRequired}
                                                                        value={value} options={fldName.picklistValues} onchange={handlePicklistTxtDtChange}>
                                                    </lightning-combobox>
                                                    <lightning-dual-listbox name={fldName.apiName} label={fldName.label}
                                                                            source-label="Available" if:true={fldName.showDualListBox}
                                                                            selected-label="Selected" values={dualListBoxvalues}
                                                                            onchange={handlePicklistTxtDtChange} options={fldName.multiSelectPicklistValues}>
                                                    </lightning-dual-listbox>
                                                    <div if:true={fldName.showComboBox}>
                                                        <label class="slds-form-element__label">
                                                            {fldName.label}<span if:true={fldName.isRequired} class="required">*</span>
                                                        </label>
                                                        <c-search-combo-box object-name="Task" field-api-name={fldName.apiName} placeholder={fldName.label}
                                                                            onvalueselect={handleCallSub}>
                                                        </c-search-combo-box>
                                                    </div>
                                                    <div if:true={fldName.showReferenceField}>
                                                        <div if:true={fldName.relObjs.length}>
                                                            <div class="slds-grid">
                                                                <div class="slds-col slds-size_1-of-3 slds-p-around_xxx-small">
                                                                    <label class="slds-form-element__label">
                                                                        {selectedObject}<span if:true={fldName.isRequired} class="required">*</span>
                                                                    </label>
                                                                    <lightning-combobox  
                                                                        name="select"  
                                                                        class="selectcombobox"
                                                                        value={selectedObject}            
                                                                        options={objOptions}
                                                                        onchange={setObjects} 
                                                                        >
                                                                    </lightning-combobox>                                                                   
                                                                    </div>
                                                                    <div class="slds-col slds-size_2-of-3 slds-p-around_xxx-small">
                                                                        <label class="slds-form-element__label">
                                                                            {selectedObject}<span if:true={fldName.isRequired} class="required">*</span>
                                                                        </label>
                                                                        <c-look-up-comp object-name={selectedObject} field-a-p-i-text="Name"
                                                                                        field-a-p-i-val="Id" limit="8" field-a-p-i-search="Name"
                                                                                        lookup-icon="standard:account" sel-item={selItem}
                                                                                        placeholder={selectedObject} object-label={selectedObject}
                                                                                        lookup-field-name={fldName.apiName}  onlookupselected={handleLookupCmpEvent}>
                                                                        </c-look-up-comp>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div if:false={fldName.relObjs.length}>
                                                                <label class="slds-form-element__label">
                                                                {fldName.label}<span if:true={fldName.isRequired} class="required">*</span>
                                                            </label>
                                                            <c-look-up-comp object-name={fldName.lookupObj} field-a-p-i-text="Name"
                                                                            field-a-p-i-val="Id" limit="8" field-a-p-i-search="Name"
                                                                            lookup-icon="standard:account" sel-item={fldName.selItem}
                                                                            placeholder={fldName.label} object-label={fldName.label}
                                                                            lookup-field-name={fldName.apiName} onlookupselected={handleLookupCmpEvent}>
                                                            </c-look-up-comp>
                                                        </div>
                                                    </div>
                                                </lightning-layout-item>
                                            </template>
                                        </lightning-layout>
                                    </lightning-tab>
                                </template>
                            </lightning-tabset>
                        </div>
                        <div class="slds-grid slds-wrap" if:false={showActivityTab}>
                            <!-- Create Log a Call -->
                            <div class="slds-col slds-size_6-of-12">
                                <article class="slds-card slds-theme_shade">
                                    <div class="slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body slds-p-around_small">
                                                <h2 class="slds-card__header-title">Call Information</h2>
                                                <div class="slds-text-title">
                                                    If checked, a task record with values specifPied below
                                                    will be
                                                    created
                                                    for each of
                                                    the selected Provider Locations
                                                    and will also become associated with corresponding
                                                    Providers. This
                                                    is
                                                    used for
                                                    logging the activities.
                                                </div>
                                            </div>
                                            <div class="slds-no-flex">
                                                <lightning-input class="checkbox-align" data-id="logCallCheck"
                                                    label="Log Call" name="logCall" type="checkbox" onchange={logCall}
                                                    checked={isLogCall}>
                                                </lightning-input>
                                            </div>
                                        </header>
                                    </div>
                                    <div class="slds-card__body slds-card__body_inner">
                                        <template if:true={isLogCall}>
                                            <div class="slds-grid slds-wrap">
                                                <div
                                                    class="slds-col slds-p-horizontal_medium slds-p-bottom_small slds-size_1-of-2">
                                                    <label for="input-22" class="slds-form-element__label">
                                                        <span class="slds-required">*</span>Subject
                                                    </label>
                                                    <c-search-combo-box object-name="Task" field-api-name="Subject"
                                                        placeholder="Subject" onvalueselect={handleCallSub}>
                                                    </c-search-combo-box>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-textarea name="Description" label="Comments"
                                                                        onchange={handleCall}>
                                                    </lightning-textarea>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <label for="input-20" class="slds-form-element__label">Accompanied Physician</label>
                                                    <c-look-up-comp object-name={providerEntityName} field-a-p-i-text="Name"
                                                        field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                                                        lookup-icon="standard:contact" sel-item={selItem}
                                                        placeholder="Search Providers..."
                                                        lookup-field-name="AccompaniedPhysician__c"
                                                        onlookupselected={handleLookupCmpEvent}>
                                                    </c-look-up-comp>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-input type="date" date-style="short"
                                                        class="dateformatinput" value={newTask.ActivityDate}
                                                        name="ActivityDate" label="Due Date" onchange={handleCall}>
                                                    </lightning-input>
                                                    <span class="dateformatSpan">[&nbsp;<a
                                                            onclick={insertCallDate}>{today}</a>&nbsp;]</span>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <label for="input-22" class="slds-form-element__label">
                                                        <span class="slds-required">*</span>Assigned To
                                                    </label>
                                                    <c-look-up-comp object-name="User" field-a-p-i-text="Name"
                                                        field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                                                        lookup-icon="standard:user" sel-item={selItem2}
                                                        placeholder="Search Users..." lookup-field-name="CallAssignedTo"
                                                        onlookupselected={handleLookupCmpEvent}></c-look-up-comp>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-combobox name={intelprop} label="Intel"
                                                        placeholder="Select Intel" options={intelOptions} value={value}
                                                        onchange={handleCall}>
                                                    </lightning-combobox>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2 slds-p-bottom_medium">
                                                    <lightning-input type="text" name={departmentprop} 
                                                                    label="Department" onchange={handleCall}>
                                                    </lightning-input>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2 slds-p-bottom_medium">
                                                    <lightning-input type="text" name={intelDescriptionprop} label="Intel Description"
                                                                    onchange={handleCall}>
                                                    </lightning-input>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </article>
                            </div>
                            <!-- Create Follow-up Task -->
                            <!-- <lightning-layout-item size="6" class="slds-p-left_small"> -->
                            <div class="slds-col slds-size_6-of-12 slds-p-left_small">
                                <article class="slds-card slds-theme_shade">
                                    <div class="slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body slds-p-around_small">
                                                <h2 class="slds-card__header-title">FollowUp Task
                                                    Information</h2>
                                                <div class="slds-text-title">
                                                    If checked, a task record with values specified
                                                    below will be
                                                    created.
                                                    This is used
                                                    for adding a reminder onto the calendar.
                                                </div>
                                            </div>
                                            <div class="slds-no-flex">
                                                <lightning-input class="checkbox-align" data-id="followup-checkbox"
                                                    name="followup-logCallc" label="Create Follow-Up Task" type="checkbox"
                                                    onchange={createFollowUpTask} checked={isFollowUpTask}>
                                                </lightning-input>
                                            </div>
                                        </header>
                                    </div>
                                    <div class="slds-card__body slds-card__body_inner">
                                        <template if:true={isFollowUpTask}>
                                            <div class="slds-grid slds-wrap">
                                                <div
                                                    class="slds-col slds-p-horizontal_medium slds-p-bottom_small slds-size_1-of-2">
                                                    <label for="input-22" class="slds-form-element__label">
                                                        <span class="slds-required">*</span>Subject
                                                    </label>
                                                    <c-search-combo-box object-name="Task" field-api-name="Subject"
                                                                        placeholder="Subject" onvalueselect={handleTaskSub}>
                                                    </c-search-combo-box>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-combobox name="Status" label="Status"
                                                        placeholder="Select Status" options={statusOptions}
                                                        onchange={handleTask} required>
                                                    </lightning-combobox>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-combobox name="Priority" label="Priority"
                                                        placeholder="Select Priority" options={priorityOptions}
                                                        onchange={handleTask} required>
                                                    </lightning-combobox>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium">
                                                    <lightning-textarea name="Description" label="Comments" onchange={handleTask}>
                                                    </lightning-textarea>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-input type="date" date-style="short"
                                                        value={newFollowupTask.ActivityDate} onchange={handleTask}
                                                        class="dateformatinput validinp" name="ActivityDate"
                                                        label="Due Date">
                                                    </lightning-input>
                                                    <span class="dateformatSpan">[&nbsp;<a
                                                            onclick={insertFollowupTaskDate}>{today}</a>&nbsp;]</span>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                                    <lightning-input type="checkbox" class="" onchange={handleIsReminder}
                                                        checked={isReminder} name="isReminder" label="Reminder Set">
                                                    </lightning-input>
                                                    <template if:true={isReminder}>
                                                        <lightning-input type="datetime" class="validinp" date-style="short"
                                                            onchange={handleTask} name="ReminderDateTime">
                                                        </lightning-input>
                                                    </template>
                                                </div>
                                                <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2 slds-p-bottom_medium">
                                                    <label for="input-21" class="slds-form-element__label">
                                                        <span class="slds-required">*</span>Assigned To</label>
                                                    <c-look-up-comp object-name="User" field-a-p-i-text="Name"
                                                        field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                                                        lookup-icon="standard:user" sel-item={selItem1}
                                                        placeholder="Search Users..." lookup-field-name="AssignedTo"
                                                        onlookupselected={handleLookupCmpEvent}></c-look-up-comp>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <lightning-layout class="slds-p-bottom_small slds-p-top_small">
                            <lightning-layout-item size="6">
                                <lightning-input data-id="providerSearchBox" name="providerSearch" type="search" label="providerSearch"
                                                 placeholder="Find Provider..." onkeyup={delayedKeyupEvent} variant="label-hidden">
                                </lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" alignment-bump="right">
                                <lightning-button label="Reset" title="Reset" 
                                                    onclick={handleReset} class="slds-m-left_x-small">
                                </lightning-button>
                            </lightning-layout-item>
                        </lightning-layout>
                        <article class="slds-card">
                            <div class=" slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                    <div class="slds-media__body">
                                        <template for:each={filterString} for:item="fChar">
                                            <a class="listItem" key={fChar} data-attr={fChar} onclick={clickAlphaSearch}>
                                                <span class="listItemPad">{fChar}</span>
                                            </a>
                                        </template>
                                    </div>
                                </header>
                            </div>
                            <div class="slds-card__body slds-card__body_inner" style="height:12rem;">
                                <template if:true={mycolumnslength}>
                                    <lightning-datatable columns={mycolumns} data={providerLocations} key-field="Id"
                                                         row-number-offset="0" onrowselection={handleRowAction}
                                                         onsort={updateColumnSorting} sorted-by={sortedBy} 
                                                         sorted-direction={sortedDirection}
                                                         selected-rows={keepSelection} data-id="ProviderRecordTable"
                                                         enable-infinite-loading={enableInfiniteLoading} load-more-offset="3">
                                    </lightning-datatable>
                                </template>
                            </div>
                            <footer class="slds-card__footer">
                                <div class="slds-clearfix">
                                    <div class="slds-float_right">
                                        <strong>{loadMoreStatus}</strong>
                                    </div>
                                </div>
                                <div class="padding-top">
                                    <lightning-input class="checkbox-align" data-id="keepSelected" name="keepSelected"
                                        type="checkbox" label="Keep Records Selected" onchange={handleKeepSelected}
                                        checked={keepRowSelected}>
                                    </lightning-input>
                                    <lightning-helptext class="info-icon-padding"
                                        content="When checked, selected records will remain selected after successful processing.">
                                    </lightning-helptext>
                                </div>
                            </footer>
                        </article>
                    </div>
                </div>
                <!-- modal footer start-->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={handleCloseModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={createNewTask}>Process</button>
                </footer>
            </div>
            <template if:true={spinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </template>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
        <!-- modal end -->
    </template>

    <!--Rendering in a new Page if loading from Salesforce1-->
    <template if:true={isRenderSalesforce1}>
        <lightning-card>
            <!--Header-->
            <header class="slds-border_bottom">
                <h2 slot="title" class="slds-p-bottom_small slds-align_absolute-center slds-text-heading_small slds-hyphenate">Log Activity</h2> 
            </header>
            <!--Body-->
            <div class="gen-layout">
                <div class="slds-grid" if:true={showActivityTab}>
                    <lightning-tabset variant="scoped" active-tab-value={currentActiveTabName}>
                        <template for:each={activityLists} for:item="actItem" for:index="actIndex">
                            <lightning-tab label={actItem.label} title={actItem.Id} key={actItem.Id} onactive={tabSelected}>
                                <lightning-layout multiple-rows="true">
                                    <lightning-layout-item padding="around-small" size="12" flexibility="auto, no-shrink"
                                                            if:true={showLoadingActivityFields}>
                                        <div>
                                            <lightning-spinner alternative-text="Loading" variant="brand" size="medium"></lightning-spinner>
                                        </div>
                                    </lightning-layout-item>
                                    <template for:each={activityTabFlds} for:item="fldName" for:index="fldIndex">
                                        <lightning-layout-item padding="around-small" key={fldName.apiName} size="6">
                                            <lightning-input type="text" label={fldName.label} name={fldName.apiName}
                                                            if:true={fldName.showStringField} required={fldName.isRequired}
                                                            onchange={handlePicklistTxtDtChange}>
                                            </lightning-input>
                                            <lightning-input type="date" label="Due Date" name="ActivityDate"
                                                            if:true={fldName.showDateField} date-style="short" 
                                                            required={fldName.isRequired} onchange={handlePicklistTxtDtChange}>
                                            </lightning-input>
                                            <lightning-input type="checkbox" name={fldName.apiName} label={fldName.label} 
                                                            required={fldName.isRequired} if:true={fldName.showBooleanField}
                                                            onchange={handleCheckBoxChange}>
                                            </lightning-input>
                                            <lightning-textarea name={fldName.apiName} label={fldName.label} 
                                                                required={fldName.isRequired} if:true={fldName.showTextareaField}
                                                                onchange={handlePicklistTxtDtChange}>
                                            </lightning-textarea>
                                            <lightning-combobox name={fldName.apiName} label={fldName.label} if:true={fldName.showPicklistField}
                                                                required={fldName.isRequired}
                                                                value={value} options={fldName.picklistValues} onchange={handlePicklistTxtDtChange}>
                                            </lightning-combobox>
                                            <lightning-dual-listbox name={fldName.apiName} label={fldName.label}
                                                                    source-label="Available" if:true={fldName.showDualListBox}
                                                                    selected-label="Selected" values={dualListBoxvalues}
                                                                    onchange={handlePicklistTxtDtChange} options={fldName.multiSelectPicklistValues}>
                                            </lightning-dual-listbox>
                                            <div if:true={fldName.showComboBox}>
                                                <label class="slds-form-element__label">
                                                    {fldName.label}<span if:true={fldName.isRequired} class="required">*</span>
                                                </label>
                                                <c-search-combo-box object-name="Task" field-api-name={fldName.apiName} placeholder={fldName.label}
                                                                    onvalueselect={handleCallSub}>
                                                </c-search-combo-box>
                                            </div>
                                            <div if:true={fldName.showReferenceField}>
                                                <label class="slds-form-element__label">
                                                    {fldName.label}<span if:true={fldName.isRequired} class="required">*</span>
                                                </label>
                                                <c-look-up-comp object-name={fldName.lookupObj} field-a-p-i-text="Name"
                                                                field-a-p-i-val="Id" limit="8" field-a-p-i-search="Name"
                                                                lookup-icon="standard:account" sel-item={selItem}
                                                                placeholder={fldName.label} object-label={fldName.label}
                                                                lookup-field-name={fldName.apiName} onlookupselected={onLookupSelection}>
                                                </c-look-up-comp>
                                            </div>
                                        </lightning-layout-item>
                                    </template>
                                </lightning-layout>
                            </lightning-tab>
                        </template>
                    </lightning-tabset>
                </div>
                <div class="slds-grid slds-wrap" if:false={showActivityTab}>
                    <!-- Create Log a Call -->
                    <div class="slds-col slds-size_12-of-12">
                        <article class="slds-card slds-theme_shade">
                            <div class="slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                    <div class="slds-media__body slds-p-around_small">
                                        <h2 class="slds-card__header-title">Call Information</h2>
                                        <div class="slds-text-title">
                                            If checked, a task record with values specifPied below
                                            will be
                                            created
                                            for each of
                                            the selected Provider Locations
                                            and will also become associated with corresponding
                                            Providers. This
                                            is
                                            used for
                                            logging the activities.
                                        </div>
                                    </div>
                                    <div class="slds-no-flex slds-p-around_small">
                                        <lightning-input class="checkbox-align" data-id="logCallCheck"
                                            label="Log Call" name="logCall" type="checkbox" onchange={logCall}
                                            checked={isLogCall}>
                                        </lightning-input>
                                    </div>
                                </header>
                            </div>
                            <div class="slds-card__body slds-card__body_inner">
                                <template if:true={isLogCall}>
                                    <div class="slds-grid slds-wrap">
                                        <div
                                            class="slds-col slds-p-horizontal_medium slds-p-bottom_small slds-size_1-of-2">
                                            <label for="input-22" class="slds-form-element__label">
                                                <span class="slds-required">*</span>Subject
                                            </label>
                                            <c-search-combo-box object-name="Task" field-api-name="Subject"
                                                placeholder="Subject" onvalueselect={handleCallSub}>
                                            </c-search-combo-box>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-textarea name="Description" label="Comments"
                                                                onchange={handleCall}>
                                            </lightning-textarea>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <label for="input-20" class="slds-form-element__label">Accompanied Physician</label>
                                            <c-look-up-comp object-name={providerEntityName} field-a-p-i-text="Name"
                                                field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                                                lookup-icon="standard:contact" sel-item={selItem}
                                                placeholder="Search Providers..."
                                                lookup-field-name="AccompaniedPhysician__c"
                                                onlookupselected={handleLookupCmpEvent}>
                                            </c-look-up-comp>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-input type="date" date-style="short"
                                                class="dateformatinput" value={newTask.ActivityDate}
                                                name="ActivityDate" label="Due Date" onchange={handleCall}>
                                            </lightning-input>
                                            <span class="dateformatSpan">[&nbsp;<a
                                                    onclick={insertCallDate}>{today}</a>&nbsp;]</span>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <label for="input-22" class="slds-form-element__label">
                                                <span class="slds-required">*</span>Assigned To
                                            </label>
                                            <c-look-up-comp object-name="User" field-a-p-i-text="Name"
                                                field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                                                lookup-icon="standard:user" sel-item={selItem2}
                                                placeholder="Search Users..." lookup-field-name="CallAssignedTo"
                                                onlookupselected={handleLookupCmpEvent}></c-look-up-comp>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-combobox name={intelprop} label="Intel"
                                                placeholder="Select Intel" options={intelOptions} value={value}
                                                onchange={handleCall}>
                                            </lightning-combobox>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2 slds-p-bottom_medium">
                                            <lightning-input type="text" name={departmentprop} 
                                                                label="Department" onchange={handleCall}>
                                            </lightning-input>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2 slds-p-bottom_medium">
                                            <lightning-input type="text" name={intelDescriptionprop} label="Intel Description"
                                                            onchange={handleCall}>
                                            </lightning-input>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </article>
                    </div>
                    <!-- Create Follow-up Task -->
                    <!-- <lightning-layout-item size="6" class="slds-p-left_small"> -->
                    <div class="slds-col slds-size_12-of-12 slds-p-top_small"> 
                        <article class="slds-card slds-theme_shade">
                            <div class="slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                    <div class="slds-media__body slds-p-around_small">
                                        <h2 class="slds-card__header-title">FollowUp Task
                                            Information</h2>
                                        <div class="slds-text-title">
                                            If checked, a task record with values specified
                                            below will be
                                            created.
                                            This is used
                                            for adding a reminder onto the calendar.
                                        </div>
                                    </div>
                                    <div class="slds-no-flex slds-p-around_small">
                                        <lightning-input class="checkbox-align" data-id="followup-checkbox"
                                            name="followup-logCallc" label="Create Follow-Up Task" type="checkbox"
                                            onchange={createFollowUpTask} checked={isFollowUpTask}>
                                        </lightning-input>
                                    </div>
                                </header>
                            </div>
                            <div class="slds-card__body slds-card__body_inner">
                                <template if:true={isFollowUpTask}>
                                    <div class="slds-grid slds-wrap">
                                        <div
                                            class="slds-col slds-p-horizontal_medium slds-p-bottom_small slds-size_1-of-2">
                                            <label for="input-22" class="slds-form-element__label">
                                                <span class="slds-required">*</span>Subject
                                            </label>
                                            <c-search-combo-box object-name="Task" field-api-name="Subject"
                                                                placeholder="Subject" onvalueselect={handleTaskSub}>
                                            </c-search-combo-box>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-combobox name="Status" label="Status"
                                                placeholder="Select Status" options={statusOptions}
                                                onchange={handleTask} required>
                                            </lightning-combobox>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-combobox name="Priority" label="Priority"
                                                placeholder="Select Priority" options={priorityOptions}
                                                onchange={handleTask} required>
                                            </lightning-combobox>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium">
                                            <lightning-textarea name="Description" label="Comments" onchange={handleTask}>
                                            </lightning-textarea>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-input type="date" date-style="short"
                                                value={newFollowupTask.ActivityDate} onchange={handleTask}
                                                class="dateformatinput validinp" name="ActivityDate"
                                                label="Due Date">
                                            </lightning-input>
                                            <span class="dateformatSpan">[&nbsp;<a
                                                    onclick={insertFollowupTaskDate}>{today}</a>&nbsp;]</span>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2">
                                            <lightning-input type="checkbox" class="" onchange={handleIsReminder}
                                                checked={isReminder} name="isReminder" label="Reminder Set">
                                            </lightning-input>
                                            <template if:true={isReminder}>
                                                <lightning-input type="datetime" class="validinp" date-style="short"
                                                    onchange={handleTask} name="ReminderDateTime">
                                                </lightning-input>
                                            </template>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_1-of-2 slds-p-bottom_medium">
                                            <label for="input-21" class="slds-form-element__label">
                                                <span class="slds-required">*</span>Assigned To</label>
                                            <c-look-up-comp object-name="User" field-a-p-i-text="Name"
                                                field-a-p-i-val="Id" limit="4" field-a-p-i-search="Name"
                                                lookup-icon="standard:user" sel-item={selItem1}
                                                placeholder="Search Users..." lookup-field-name="AssignedTo"
                                                onlookupselected={handleLookupCmpEvent}></c-look-up-comp>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </article>
                    </div>
                </div>
                <lightning-layout class="slds-p-bottom_small slds-p-top_small">
                    <lightning-layout-item size="6">
                        <lightning-input data-id="providerSearchBox" name="providerSearch" type="search"
                            label="providerSearch" placeholder="Find Provider..." onkeyup={delayedKeyupEvent} variant="label-hidden">
                        </lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" alignment-bump="right" class="">
                        <lightning-button label="Reset" title="Reset" 
                                            onclick={handleReset} class="slds-m-left_x-small">
                        </lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
                <article class="slds-card">
                    <div class="slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <template for:each={filterString} for:item="fChar">
                                    <a class="listItem" key={fChar} data-attr={fChar} onclick={clickAlphaSearch}>
                                        <span class="listItemPad">{fChar}</span>
                                    </a>
                                </template>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body slds-card__body_inner" style="height:12rem;">
                        <template if:true={mycolumnslength}>
                            <lightning-datatable columns={mycolumns} data={providerLocations} key-field="Id"
                                                 row-number-offset="0" onrowselection={handleRowAction}
                                                 onsort={updateColumnSorting} sorted-by={sortedBy} 
                                                 sorted-direction={sortedDirection}
                                                 selected-rows={keepSelection} data-id="ProviderRecordTable"
                                                 enable-infinite-loading={enableInfiniteLoading} load-more-offset="3">
                            </lightning-datatable>
                        </template>
                    </div>
                    <footer class="slds-card__footer">
                        <div class="slds-clearfix">
                            <div class="slds-float_right">
                                <strong>{loadMoreStatus}</strong>
                            </div>
                        </div>
                        <div class="padding-top">
                            <lightning-input class="checkbox-align" data-id="keepSelected" name="keepSelected"
                                type="checkbox" label="Keep Records Selected" onchange={handleKeepSelected}
                                checked={keepRowSelected}>
                            </lightning-input>
                            <lightning-helptext class="info-icon-padding"
                                content="When checked, selected records will remain selected after successful processing.">
                            </lightning-helptext>
                        </div>
                    </footer>
                </article>
            </div>
            <!--footer start-->
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={handleCloseModal}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={createNewTask}>Process</button>
            </footer>
            <template if:true={spinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </template>   
        </lightning-card> 
    </template>
</template>