.THIS .slds-dropdown-size { min-width : inherit !important; max-width : inherit !important }
.THIS .verticalAlign { cursor: pointer; margin: 6px 0px 0px 6px!important; }
.THIS .recordListBox { margin-top:0px !important; overflow-y: scroll; }
.THIS .inputBox input { padding-left: 30px; }
.THIS .eachItem { padding: 10px; }
.THIS .eachItem:hover { background-color: #EEE; cursor: pointer; }

/* For Scrolling */
.THIS ::-webkit-scrollbar { width: 7px; height: 7px; }
.THIS ::-webkit-scrollbar-track { display: none !important; }
.THIS ::-webkit-scrollbar-thumb { border-radius: 10px; background: rgba(0,0,0,0.4); }
.THIS .disable-lookup { pointer-events: none;opacity: 0.4; }