.THIS .slds-form-element_stacked:not(.slds-is-editing) { padding: 0 !important; }
.THIS .slds-textarea[name="Description"] { height: 145px; }
.THIS .customAlign { width: 253px; margin: 0 auto; }
.THIS .approval-icon-color { background-color: #4BCA81 !important; }
.THIS .btn-align { padding-top: 27px; }