.THIS .modal-close { font-size: 30px; color: #000 !important; float:right; /*margin-top: -20px; */ }
.THIS .slds-modal__container { height: auto; }
.THIS .slds-modal__header { padding: 1rem 0rem 0.2rem 1rem; }
.THIS .slds-text-heading_medium { color:#333333; font-weight: 500; line-height: 1.2; }
.THIS .dynamic-grid {margin: 10px; max-height: 45vh; overflow: scroll; width: 100vw; }
.THIS .none { display:none; }