<template>
    <!--Modal Box Start-->
    <div role="dialog" class="slds-modal slds-fade-in-open ">
        <div class="slds-modal__container">
            <!--Modal Box Header Start-->
            <header class="slds-modal__header">
                <h1 class="slds-text-heading--medium">{title}</h1>
            </header>
            <!--Modal Box Header End-->
            
            <!--Modal Box Content Start-->
            <div class="slds-modal__content slds-p-around--medium">
                <center><b>{message}</b></center>
            </div>
            <!--Modal Box Content End-->
            
            <!--Modal Box Button Start-->
            <footer class="slds-modal__footer">
                <lightning-button name='Cancel' label='Cancel' onclick={handleCancel}></lightning-button>
                <lightning-button variant="brand" name='Remove' label='Remove' onclick={handleRemove}></lightning-button>
            </footer>
            <!--Modal Box Button End-->
        </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div> 
</template>