.THIS .btn-section { padding: 16px; }
.THIS .checkbox-align {  display: inline-block !important;float: left !important; }
.THIS.main-content-apl { background: white; top: calc(100vh - 102vh); position: absolute; width: 100.3vw; height: 90vh; }
.THIS .required { color:red }
.THIS .header-position {padding: 14px 0px 10px 40px;}
.THIS .pp-form {padding: 18px;}
.THIS .slds-th__action { justify-content: center !important; }
.THIS .slds-button[name~="primary"] { width: 1.5rem; height: 1.5rem; background-color: white; }
.THIS .slds-button[name~="primary"]:disabled { width: 1.5rem; height: 1.5rem; background-color: #dddbda; }
.THIS table.slds-table_header-fixed { padding-bottom: 7.5vh; }
@media only screen and (min-device-width : 375px) and (max-device-width : 1024px) {
    .THIS .slds-grid_align-center { justify-content: left !important; }
}