<!--
    * Healthgrades, inc. claims copyright in this software, its screen
    * display designs and supporting documentation. Healthgrades and Healthgrades corporation
    * are trademarks of Healthgrades, inc. Any unauthorized use, copying
    * or sale of the above may constitute an infringement of copyright
    * and may result in criminal or other legal proceedings.
    *
    @Component Name: LookupComponent
    @description: This is to show Custom Lookup component
    @Author: Healthgrades Inc.
    @Last Modified Date: 06/04/2020
    -->
    <template>
        <div class="slds">
            <div class="slds-form-element">
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container slds-has-inline-listbox">
                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                            aria-expanded="true" aria-haspopup="listbox" role="combobox" style="width:95%">
                            <div
                                class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-input">
                                <div if:true={isEmptySelItem}>
                                    <input type="text" class="slds-input slds-combobox__input boxh" id="combobox-unique-id"
                                        aria-activedescendant="listbox-option-unique-id-01 slds-scrollable_y"
                                        aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off"
                                        role="combobox" placeholder={placeholder} onclick={serverCall} onkeyup={serverCall} onblur={hideValues} />
                                </div>
                                <div if:false={isEmptySelItem}>
                                    <span class="slds-pill fullWidth slds-var-m-top_xx-small">
                                        <span class="slds-pill__icon_container slds-var-p-left_x-small">
                                            <span class="slds-icon_container">
                                                <!--<span class="slds-assistive-text">{objectName}</span>-->
                                                <lightning-icon icon-name={lookupIcon} size="small"></lightning-icon>
                                            </span>
                                        </span>
                                        <a href="javascript:void(0);" class="slds-pill__action" title={selItem.text}>
                                            <span class="slds-pill__label">{selItem.text}</span>
                                        </a>
                                        <button onclick={clearSelection}
                                            class="slds-button slds-button_icon slds-button_icon slds-pill__remove"
                                            title="Remove">
                                            <lightning-icon icon-name="utility:close" size="small"
                                                alternative-text="Press delete or backspace to remove"></lightning-icon>
                                            <span class="slds-assistive-text">Remove</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <template if:true={greaterthanorequal}>
                                <div id="listbox-unique-id" role="listbox">
                                    <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid"
                                        role="presentation"
                                        style="display: block; min-width: auto; max-width: 100% ; width: 100%; ">
                                        <template for:each={serverResult} for:item="item" for:index="index">
                                            <li key={item.val} role="presentation" class="slds-listbox__item"
                                                data-selected-index={index} onclick={itemSelected}>
                                                <span class="slds-media slds-listbox__option slds-listbox__option_entity
                                                             slds-listbox__option_has-meta" role="option">
                                                    <span class="slds-media__figure optionIcon">
                                                        <span class="slds-icon_container">
                                                            <!--<span class="slds-assistive-text">{objectName}</span>-->
                                                            <lightning-icon icon-name={lookupIcon} size="small"></lightning-icon>
                                                        </span>
                                                    </span>
                                                    <span class="slds-media__body singleRow">
                                                        <span class="optionTitle slds-listbox__option-text
                                                                     slds-listbox__option-text_entity">{item.text}</span>
                                                        <span class="optionsubTitle" if:true={showSubText}>{item.subtext1}</span>
                                                    </span>
                                                </span>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>