.THIS.divPageContainer { background: white; top: calc(100vh - 102vh); left: calc(100vh - 102vh); position: absolute; width: 101vw; height: 90vh; }
.THIS .iconsCss button{ background-color: #f3f2f2 !important; }
.THIS .iconsCss .slds-icon-action-map { background-color:#f3f2f2 !important }
.THIS .iconsCss .slds-icon { fill:#706e6b !important; }
.THIS .iconsCss .isSelected { background-color:rgb(0, 112, 210) !important }
.THIS .iconsCss .isSelected .slds-icon-action-map { background-color:rgb(0, 112, 210) !important }
.THIS .iconsCss .isSelected .slds-icon { fill:white !important; }
.THIS .iconsCss button { padding-left:8px!important; padding-right:8px!important; }
.THIS .panelSection { border:solid #d8dde6 1px; border-radius: 5px; }
.THIS .floatButton { text-align: right !important; }
.THIS .panelContainer { width: 100%; } .THIS .clearCriteria { display: inline-block; float: right; }
.THIS .MultiSelectMa .slds-picklist { width:100% !important; }
.THIS .dtTableHeight {height: 75vh} .THIS .filterDivWidth {width: 97.5vw;} .THIS .filterTdAlign {width:50%;vertical-align:top;} 
.THIS .inline-combo {display: inline-block;} .THIS .slds-radio {display: inline !important;}
.THIS .slds-form-element_horizontal .slds-form-element__control { padding-left: 20% !important;}
.THIS .slds-form-element__legend { font-size: 14px !important;}
.THIS .slds-form-element_horizontal .slds-form-element__control .slds-radio {vertical-align: sub; padding-right: 3%; }
.THIS .slds-filters__header { padding-left: 0 !important; padding-top: 0 !important; }
.THIS .territory-controls { text-align: right; }
.THIS .clearCriteria { display: inline-block; float: right; }
.THIS .slds-badge:hover { background-color: #ffb75d; color: #080707; }
.THIS table.slds-table_header-fixed { padding-bottom: 5vh; }
.THIS .showmorebtn { font-weight: bold; font-size: 11pt; text-decoration: underline; }
.THIS .badgeperformance { font-size: 11pt; background-color: lightcoral; }
.THIS .slds-table_header-fixed_container { border: 1px solid rgba(106, 106, 106, 1); }
.THIS .inputReadonly .slds-input { border-color: rgb(133, 133, 133) !important; }
.THIS .inputReadonly .slds-form-element__label { display: none; }
.THIS .slds-pill { border:1px solid #DDDBDA; }