<template>
    <div class="slds-form-element__control" if:true={notDetailView}>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-right_medium" size="12" large-device-size="3" medium-device-size="6" small-device-size="6">
                <span class="slds-form-element__customlabel">Search</span>
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-right_small" size="11">
                        <div class="slds-form-element__control">
                            <lightning-input data-id="enter-search" name="enter-search" placeholder="Search for Classifications or Specializations"
                                            label={showSearchLabel} type="search" onchange={onSearchBoxtype}></lightning-input>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item class="slds-var-p-left_x-small" size="1">
                        <div class="slds-var-p-vertical_medium" style="line-height: 0.1em;" if:true={isProvSpecView}>OR</div>
                        <div class="slds-var-p-vertical_medium" style="line-height: 2.2em;" if:true={isTerritoryView}>OR</div>
                    </lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-right_medium" size="12" large-device-size="3" medium-device-size="6" small-device-size="6">
                <span class="slds-form-element__customlabel">Grouping</span>
                <div class="slds-form-element__control">
                    <lightning-combobox data-id="grouping" name="grouping" label="" value={groupOptionsValue}
                                        placeholder="Filter by Grouping" options={groupingOptions} onchange={comboBoxOptChange}></lightning-combobox>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-right_medium" size="12" large-device-size="3" medium-device-size="6" small-device-size="6">
                <span class="slds-form-element__customlabel">Classification</span>
                <div class="slds-form-element__control">
                    <lightning-combobox data-id="classification" name="classification" label="" value={classifyOptionsValue} readonly={classificationOptionsReadonly}
                                        placeholder="Filter by Classification" options={classificationOptions} onchange={comboBoxOptChange}></lightning-combobox>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-right_medium" size="12" large-device-size="3" medium-device-size="6" small-device-size="6">
                <span class="slds-form-element__customlabel">Specialization</span>
                <div class="slds-form-element__control">
                    <lightning-combobox data-id="specialization" name="specialization" label="" value={specialOptionsValue} readonly={specializationOptionsReadonly}
                                        placeholder="Filter by Specialization" options={specializationOptions} onchange={comboBoxOptChange}></lightning-combobox>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-right_medium" size="12">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-page-header slds-page-header_record-home slds-size_3-of-3">
                        <div class="slds-page-header__row">
                            <div class="slds-page-header__col-title">
                                <div class="slds-media">
                                    <div class="slds-media__body">
                                        <div class="slds-page-header__name">
                                            <div class="slds-page-header__name-title">
                                                <h1>
                                                    <span class="slds-page-header__title slds-truncate" 
                                                          title="Specialties">Specialties</span>
                                                    <span>showing first {specialityData.length} items</span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div style="height: 400px; overflow: scroll;">
                    <lightning-datatable key-field="Id" data={specialityData} columns={specialityColumns}
                                        selected-rows={selectedRows} onrowselection={handleSpecRowAction}></lightning-datatable>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>

    <div class="slds-form-element__control" if:true={isDetailView}>
        <lightning-layout multiple-rows="true">
            <div class="demo-only slds-var-m-bottom_medium" if:true={showToast} style="height:4rem; width: 100vw;">
                <div class="slds-notify_container slds-is-relative">
                    <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
                        <span class="slds-assistive-text">success</span>
                        <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" 
                              title="Description of icon when needed">
                            <lightning-icon icon-name="utility:success" alternative-text="Success" title="Success" variant="inverse"></lightning-icon>
                        </span>
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading_small">The record has been updated successfully, this page will be refreshed shortly.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <lightning-layout-item class="slds-var-p-bottom_medium slds-var-p-left_small slds-var-p-right_small" size={layoutSize} medium-device-size={layoutSize} small-device-size={layoutSize}>
                <div class={currViewCSS}>
                    <span if:true={isViewMode} class="slds-form-element__label">Grouping</span>
                    <div class="slds-form-element__control" if:true={isViewMode}>
                        <div class="slds-form-element__static">{groupingVal}</div>
                        <button onclick={changeView} title="Edit: Status" aria-pressed="true" 
                                class="slds-button slds-button_icon slds-is-selected slds-button_icon-bare button-icon-color slds-var-p-bottom_xx-small">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="slds-form-element__control" if:true={isEditMode}>
                        <lightning-combobox data-id="grouping" name="grouping" label="Grouping" value={groupOptionsValue}
                                            placeholder="-None-" options={groupingOptions} onchange={comboBoxOptChange}></lightning-combobox>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_small slds-var-p-left_small slds-var-p-right_small" size={layoutSize} medium-device-size={layoutSize} small-device-size={layoutSize}>
                <div class={currViewCSS}>
                    <span if:true={isViewMode} class="slds-form-element__label">Classification</span>
                    <div class="slds-form-element__control" if:true={isViewMode}>
                        <div class="slds-form-element__static">{classificationVal}</div>
                        <button onclick={changeView} title="Edit: Status" aria-pressed="true" 
                                class="slds-button slds-button_icon slds-is-selected slds-button_icon-bare button-icon-color slds-var-p-bottom_xx-small">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="slds-form-element__control" if:true={isEditMode}>
                        <lightning-combobox data-id="classification" name="classification" label="Classification" value={classifyOptionsValue} 
                                            readonly={classificationOptionsReadonly} placeholder="-None-" options={classificationOptions}
                                            onchange={comboBoxOptChange} message-when-value-missing="Classification is required." required={isClassificationRequired}>
                        </lightning-combobox>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_small slds-var-p-left_small slds-var-p-right_small" size={layoutSize} medium-device-size={layoutSize} small-device-size={layoutSize}>
                <div class={currViewCSS}>
                    <span if:true={isViewMode} class="slds-form-element__label">Specialization</span>
                    <div class="slds-form-element__control" if:true={isViewMode}>
                        <div class="slds-form-element__static">{specializationVal}</div>
                        <button onclick={changeView} title="Edit: Status" aria-pressed="true" 
                                class="slds-button slds-button_icon slds-is-selected slds-button_icon-bare button-icon-color slds-var-p-bottom_xx-small">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="slds-form-element__control" if:true={isEditMode}>
                        <lightning-combobox data-id="specialization" name="specialization" label="Specialization" value={specialOptionsValue} readonly={specializationOptionsReadonly}
                                            placeholder="-None-" options={specializationOptions} onchange={comboBoxOptChange}></lightning-combobox>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-var-p-bottom_small" size={layoutSize} medium-device-size={layoutSize} small-device-size={layoutSize}> 
            </lightning-layout-item>
            <div if:true={isEditMode} class="slds-align_absolute-center">
                <lightning-layout-item class="slds-var-p-top_small slds-var-p-bottom_small slds-text-align_right slds-var-m-right_x-small" size={layoutSize}  
                                       medium-device-size={layoutSize} small-device-size={layoutSize}>
                    <lightning-button label="Cancel" title="Neutral action" onclick={handleCancel}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item class="slds-var-p-top_small slds-var-p-bottom_small" size={layoutSize} 
                                       medium-device-size={layoutSize} small-device-size={layoutSize}>
                    <lightning-button variant="brand" label="Save" title="Brand action" onclick={handleSave} disabled={isSaveDisabled}></lightning-button>
                </lightning-layout-item>
            </div>
            
        </lightning-layout>
        <div data-id="infomessage" class={infoClassName}>
            <div class="slds-media__figure slds-p-top_xxx-small">
                <lightning-icon size="x-small" icon-name="utility:info_alt" title="info"></lightning-icon> 
            </div>
            <div class="slds-media__body">
                <p style="color: black; font-size: 12px;">
                    Hg Mercury PRM uses the National Uniform Claim Committee code set which consists of three levels: Grouping, Classification, and Specialization. 
                    This structure allows for drilling down to the provider's most specific level of specialization.<a href="https://taxonomy.nucc.org/">Learn more.</a>
                </p>
            </div>
        </div>
    </div>
</template>