.btn-section { padding: 16px; }
.btn-section-top { padding-top: 16px; } .btn-section-bottom { padding-bottom: 16px; }
.checkbox-align {  display: inline-block !important;float: left !important; }
.main-content-apl { background: white; height:100%}
.required { color:red }
.header-position {padding: 14px 0px 10px 40px;}
.pp-form {padding: 18px;}
.col-align { padding-left: 30px; }
.slds-modal__container { max-width: 98rem !important;width: 98% !important; }
.dt-table-top-margin { margin-top: 18px; }
.input-width { width:33%;}
.check-position{ display: inline-block; float: left; }
.slds-button_icon-border { height: 1.5rem; width: 1.5rem; }
.slds-border_bottom_none { border-bottom:none; }
.createNew-accordion { color: blue; }
.infomessage-margin { position: fixed; margin-top: calc(100vh - 80vh);  }
.iPad-infomessage-margin { margin: 1rem 0 1rem 0.5rem; }
.button-icon-color { color: rgb(217, 219, 221); }
.button-icon-color:hover { color: #706e6b !important; }