/* for adjusting message modal into the screen  */
.THIS .slds-notify_container{
      padding-right: 8.25rem !important; 
   	/* margin:0px auto; */
}
/* for success message modal Success Icon  */
.THIS .slds-icon-text-default {
    fill: rgb(249, 249, 250);
}
/* for success message modal Close Button  */
.THIS .close-button
{   border: 1px solid #ffffff;
    margin-top: -2px;
} 
/*for setting margin to all nested  element of  message modal   */
.THIS .slds-scope .slds-theme_success, .THIS .slds-scope .slds-theme--success{
        margin:0px;
}

/* for adjusting message modal into the screen for liason  */
.THIS .notify_container{
      /*margin-top: 980px !important; */
   	/* margin:0px auto; */
}

/* for adjusting message modal for Activity  */
.THIS .notify_container_activity{
     /* margin-top: 890px !important; */
   	/* margin:0px auto; */
}