<!--
* Healthgrades, inc. claims copyright in this software, its screen
* display designs and supporting documentation. Healthgrades and Healthgrades corporation
* are trademarks of Healthgrades, inc. Any unauthorized use, copying
* or sale of the above may constitute an infringement of copyright
* and may result in criminal or other legal proceedings.
*
@Component Name: searchCombobox
@description: This is to show Custom SearchCombobox
@Author: Healthgrades Inc.
@Last Modified Date: 06/29/2020
-->
<template>
    <div class="slds">
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-has-inline-listbox">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                        aria-expanded="true" aria-haspopup="listbox" role="combobox" style="width:100%">
                        <div class="slds-combobox__form-element">
                            <input onclick={searchCall} type="text" class="slds-input slds-combobox__input boxh"
                                data-id="combobox-unique-id"
                                aria-activedescendant="listbox-option-unique-id-01 slds-scrollable_y"
                                aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off"
                                role="combobox" placeholder={placeholder} onkeyup={searchCall} value={inpValue}
                                onblur={hideValues} />
                        </div>

                        <template if:true={showValues}>
                            <div data-id="listbox-unique-id" role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid"
                                    role="presentation" data-id="listbox-ul-unique-id"
                                    style="display: block; min-width: auto; max-width: 100% ; width: 100%; ">
                                    <template for:each={serverResult} for:item="item" for:index="index">
                                        <li key={item.value} role="presentation" class="slds-listbox__item"
                                            data-selected-index={index} onclick={itemselected}>
                                            <span class="slds-media slds-listbox__option slds-listbox__option_entity
                                                             slds-listbox__option_has-meta" role="option">
                                                <span class="slds-media__figure optionIcon">
                                                    <span class="slds-icon_container">
                                                        <span class="slds-assistive-text">{fieldApiName}</span>
                                                    </span>
                                                </span>
                                                <span class="slds-media__body singleRow">
                                                    <span class="optionTitle slds-listbox__option-text
                                                          slds-listbox__option-text_entity">{item.label}</span>
                                                </span>
                                            </span>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template if:true={spinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
</template>