.THIS .slds-welcome-mat__tile { margin: 0.65rem 0 !important; }
.THIS .slds-welcome-mat__tiles { padding: 0 1em !important; background: none !important; }
.THIS .slds-custombox_link { height: 4rem !important; }
.THIS .slds-card__header { display: none; }
.THIS .slds-welcome-mat__tile-title { font-size: 1.25em; }