.THIS .pp-form {padding: 18px; }
.THIS .provSpec-form {padding: 18px; min-height: 60vh; }
.THIS .right-padding {padding: 10px 10px;}
.THIS table tr { height: 48px; }
.THIS table .slds-line-height_reset { height: 0; }
.THIS .slds-form-element__customlabel {
    font-size: 0.8125rem; font-weight: 700;
    overflow-wrap: break-word; word-wrap: break-word;-webkit-hyphens: auto;
    -ms-hyphens: auto; hyphens: auto; display: inline-block;
    color: var(--lwc-colorTextLabel,rgb(62, 62, 60)); font-size: var(--lwc-formLabelFontSize,0.75rem);
	padding-right: var(--lwc-spacingXSmall,0.5rem); padding-top: var(--lwc-spacingXxSmall,0.25rem);
	margin-bottom: var(--lwc-spacingXxxSmall,0.125rem);
}
.THIS .slds-form-element__lookuplabel {
    font-size: 0.8125rem;
    overflow-wrap: break-word; word-wrap: break-word;-webkit-hyphens: auto;
    -ms-hyphens: auto; hyphens: auto; display: inline-block;
    color: var(--lwc-colorTextLabel,rgb(62, 62, 60)); font-size: var(--lwc-formLabelFontSize,0.75rem);
}
.THIS .slds-is-selected { border-color: rgb(221, 219, 218); }
.THIS .customAdvButton { width: max-content; margin:0.2rem 0 0 1rem; min-height: 2.3rem;}
@media only screen and (min-device-width : 375px) and (max-device-width : 1024px) {
    .THIS .ipadBtnStyling {
        padding-left: 1px;
        padding-right: 5px;
        line-height: 100%;
    }
}