<!--
* Healthgrades, inc. claims copyright in this software, its screen
* display designs and supporting documentation. Healthgrades and Healthgrades corporation
* are trademarks of Healthgrades, inc. Any unauthorized use, copying
* or sale of the above may constitute an infringement of copyright
* and may result in criminal or other legal proceedings.
*
@Component Name: searchCombobox
@description: This is to show Custom SearchCombobox
@Author: Healthgrades Inc.
@Last Modified Date: 12/05/2020
-->
<template>
    <lightning-card title="Actions">
        <p class="slds-p-horizontal_small">
            <!-- lightning button for opening modal window -->
            <lightning-button variant="brand" label="Log Activity" title="Log Activity" onclick={openModal}
                class="slds-m-left_x-small"></lightning-button>
        </p>
    </lightning-card>
    <template if:true={showModal}>
        <c-log-activity-modal record-id={recordId} onclosemodal={closeModal}></c-log-activity-modal>
    </template>
</template>