.THIS.slds-theme_message {
    background-color: #ffc;
    border-style: solid;
    border-width: 1px;
    color: #000;
    width:99%;
    padding: 6px 8px 6px 6px;
    /*margin: 4px 20px;*/
}
.THIS.warning { border-color: #39f; }
.THIS.success { border-color: #390; }
.THIS.error { border-color: #c00; }
.THIS .padding-left { padding-left: 12%; }