.THIS .fullWidth { width:100%; padding: .01rem; margin-top: .1rem; }
.THIS .slds-listbox__item:hover { background: rgb(216,237,255); text-shadow: none; color: rgb(22,50,92); }
.THIS .slds-has-inline-listbox { border: none; }
.THIS .slds-pill__action { border: 0; border-radius: 0; display: inline-block; padding: 0 1rem 0 .25rem; line-height: 2rem; min-height: calc(1.5rem + 0.125rem); }
.THIS .optionParent1 { line-height: 1.5rem; padding: 0.25rem 0.75rem; font-size: 0.8125rem; }
.THIS .optionIcon { margin-top: 0.50rem; }
.THIS .optionTitle { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; margin-bottom: 0; font-size: 0.75rem; }
.THIS .optionsubTitle { font-size: 0.6rem; }
.THIS .optionline { display: block; color: rgb(84,105,141); }
.THIS .singleRow { padding-top: 0.3125rem; }
.THIS .boxh { display: inline-block; padding: 0 1rem 0 .75rem; line-height: 2rem; min-height: calc(2rem + 0.125rem); border: 0; border-radius: 0;  }
.THIS .hide { display:none; }
.THIS.disable-lookup { pointer-events: none;opacity: 0.4; }