<template>
    <div class="main-content-apl">        
        <!-- header -->
        <div class="slds-col slds-has-flexi-truncate headerFixed">
            <div class="slds-page-header">
                <div class="slds-grid">
                    <div class="slds-size--8-of-12">
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Unprocessed Events">Unprocessed Events</h1>
                        </div>
                    </div>
                    <div class="slds-size--2-of-12">
                        <lightning-combobox  label="Time Frame" value="Past" options={timeframeOpt} onchange={handleTimeframeChange}></lightning-combobox>
                    </div>
                    <div class="slds-size--2-of-12 slds-m-around_x-medium btn-align">
                        <lightning-button label="Remove" title="Remove" onclick={handleRemove}></lightning-button>								
                        <lightning-button label="Process" title="Process" onclick={handleProcess} disabled={isProcessDisabled}></lightning-button>														
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="slds-wrap slds-theme_default">
            <div class="dtTableHeight">
                <lightning-datatable key-field = "Id"
                                        data = {data} 
                                        columns = {columns}
                                        onrowselection = {handleRowSelection} >
                    </lightning-datatable>
            </div>
        </div>
    <template if:true={showRemoveConfirm}>
        <div>
            <c-confirm-modal-comp onconfirmmodalcallback={handleConfirmCallBack} message="Are you sure you want to remove these event(s)?" title="Remove Events" ></c-confirm-modal-comp>
        </div>
    </template>

    <template if:true={showProcessModal}>
        <div>
            <c-event-processor-comp onclosemodal={handleCloseProcessModal} event-id={eventIdToProcess} ></c-event-processor-comp>
        </div>
    </template>
        
        
    </div>
    <template if:true={spinner}>
        <lightning-spinner alternative-text="Loading" ></lightning-spinner>
    </template>
</template>