<apex:page >
    <iframe id="refresh-session" src="{!$Label.ConsoleAPISessionURL}" />
    <script type="text/javascript">
        setInterval(() => {
          document.getElementById('refresh-session').src = '{!$Label.ConsoleAPISessionURL}';
        }, 300000);
    </script>
</apex:page>