<template>
    <div class="slds-col">
        <!--<div> <lightning-input type="checkbox" class="check-position" name="input3" checked={plChecked} disabled ></lightning-input><a onclick={HideShowPlTable}>{territoryName}</a></div>
        <template if:true={showPlTable}>
            <div class="dtTableHeight dt-table-margin">
                <lightning-datatable 
                                     key-field="Id"
                                     data= {pldata}
                                     columns= {columns}
                                     onrowselection= {handleRowSelection}
                                     selected-rows = {assocPlIds}
                                     >
                                    </lightning-datatable>
            </div>
        </template>-->
        <lightning-accordion class="example-accordion" name="A" allow-multiple-sections-open active-section-name={activeSections}>
            <lightning-accordion-section label={territoryName}>
                <div class="dtTableHeight dt-table-margin">
                    <lightning-datatable key-field="Id"
                                         data= {pldata}
                                         columns= {columns}
                                         onrowselection= {handleRowSelection}
                                         selected-rows = {assocPlIds} 
                                         class="slds-max-medium-table--stacked">
                                        </lightning-datatable>
                </div>
            </lightning-accordion-section>
        </lightning-accordion>
    </div>
</template>