.btn-section { padding: 16px; }
.checkbox-align {  display: inline-block !important;float: left !important; }
.main-content-apl { background: white; height:100%}
.required { color:red }
.header-position {padding: 14px 0px 10px 40px;}
.pp-form {padding: 18px;}
.col-align { padding-left: 20px; }
.dt-table-margin { margin: 10px 0px 20px 0px; }
.check-position{ display: inline-block; float: left; }