.THIS .button-align { margin-top: 24px; text-align: center; margin-bottom: 15px; }
.THIS .bread-style { padding: 10px; }
.THIS .dateformatSpan { float:right; margin-left: 4px; }
.THIS .dateformatinput { display: inline-block !important; width: 100% !important; }
.THIS.topgridmargin { margin-top: 25px; }
.THIS .slds-form-element__label { font-size: 0.95rem; }
.THIS .slds-custom-input { height: 2.75rem; }
.THIS .dynamic-grid {margin: 10px;}
.THIS .dynamic-grid-item{padding-right: 10px;}
.THIS .slds-form-element__legend { font-weight: 400; }
.THIS .select label{
   display:none;   
}

.THIS .select select{
    line-height: 30px;
    height: 36px;
    min-height: 30px;
}