<template>
    <!--Render in Modal-->
    <template if:false={isRenderSalesforce1}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- modal header start -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                        onclick={handleCloseModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Add To My Territories</h2>
                </header>
                <!--modal body start-->
                <div class="slds-modal__content slds-var-p-around_small" id="modal-content-id-1">
                    <div class="main-content-apl">        
                        <!-- header -->
                        <div class="slds-col slds-has-flexi-truncate headerFixed">
                            <div class="slds-page-header">
                                <div class="slds-grid">
                                    <div class="slds-media slds-no-space slds-grow">
                                        <div class="slds-media__body">
                                            <h1 class="slds-page-header__title slds-var-m-right_small slds-align-middle slds-truncate" title="My Territories">My Territories</h1>
                                            <nav role="navigation" aria-label="Breadcrumbs">
                                                <ol class="slds-breadcrumb slds-list_horizontal">
                                                    <li class="slds-breadcrumb__item slds-text-title_caps">
                                                        Provider: {providerName}
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="slds-wrap slds-theme_default">
                            <div class="slds-align_absolute-center btn-section-top">
                                <lightning-button label="Save" variant="brand" onclick={handleSave}></lightning-button>
                                <lightning-button label="Cancel" onclick={handleCloseModal} class="slds-var-p-left_x-small"></lightning-button>
                            </div>
                            <div class="slds-grid slds-grid_vertical">
                                <template for:each={terrList} for:item="item">
                                    <c-territory-list-component key={item.Id} onaddtomyterrevent={handleAddToMyTerrEvent} territory-name={item.TerritoryName} pldata={data}  columns={columns} terr-id={item.Id} assoc-pl-ids={item.pltList}></c-territory-list-component>
                                </template>
                            </div>
                            <div class="slds-grid slds-grid_vertical slds-var-p-left_small slds-var-p-top_x-small">
                                <div class="slds-col">
                                    <lightning-button-stateful selected={buttonStatefulState} label-when-off="Create New Territory" label-when-hover="Discard create" variant="brand" 
                                                            label-when-on="Enter Territory name" icon-name-when-off="utility:add" icon-name-when-hover="utility:close"
                                                            icon-name-when-on="utility:keyboard_dismiss" onclick={HideShowTerrPlTable}>
                                    </lightning-button-stateful>
                                    <template if:true={showTerrPlTable}>
                                        <lightning-input type="text" label="Territory Name" data-id="territoryName" class="input-width"></lightning-input>
                                        <div class="dtTableHeight dt-table-top-margin">
                                            <lightning-datatable key-field="Id" data= {data} 
                                                                columns= {columns} onrowselection= {handlePltSelection}>
                                            </lightning-datatable>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="slds-align_absolute-center btn-section-bottom">
                                <lightning-button label="Save" variant="brand" onclick={handleSave}></lightning-button>
                                <lightning-button label="Cancel" onclick={handleCloseModal} class="slds-var-p-left_x-small"></lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <template if:true={spinner}>
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </template>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
        <!-- modal end -->
    </template>

    <!--Rendering in a new Page if loading from Salesforce1-->
    <template if:true={isRenderSalesforce1}>
        <lightning-card>
            <!--Header-->
            <header class="slds-border_bottom">
                <h2 slot="title" class="slds-p-bottom_small slds-align_absolute-center slds-text-heading_small slds-hyphenate">Add To My Territories</h2> 
            </header>
            <!--Body-->
            <div class="slds-var-p-around_small">
                <div class="slds-col slds-has-flexi-truncate slds-p-bottom_small">
                    <div class="slds-page-header">
                        <div class="slds-grid">
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__body">
                                    <h1 class="slds-page-header__title slds-var-m-right_small slds-align-middle slds-truncate" title="My Territories">My Territories</h1>
                                    <nav role="navigation" aria-label="Breadcrumbs">
                                        <ol class="slds-breadcrumb slds-list_horizontal">
                                            <li class="slds-breadcrumb__item slds-text-title_caps">
                                                Provider: {providerName}
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="slds-wrap slds-theme_default">
                    <div class="slds-align_absolute-center slds-p-bottom_small">
                        <lightning-button label="Save" variant="brand" onclick={handleSave}></lightning-button>
                        <lightning-button label="Cancel" onclick={handleCloseModal} class="slds-var-p-left_x-small"></lightning-button>
                    </div>
                    <div class="slds-grid slds-grid_vertical slds-p-bottom_small">
                        <template for:each={terrList} for:item="item">
                            <c-territory-list-component key={item.Id} onaddtomyterrevent={handleAddToMyTerrEvent} territory-name={item.TerritoryName} pldata={data}  columns={columns} terr-id={item.Id} assoc-pl-ids={item.pltList}></c-territory-list-component>
                        </template>
                    </div>
                    <div class="slds-grid slds-grid_vertical slds-var-p-left_small slds-p-bottom_small">
                        <div class="slds-col">
                            <lightning-button-stateful selected={buttonStatefulState} label-when-off="Create New Territory" label-when-hover="Discard create" variant="brand" 
                                                    label-when-on="Enter Territory name" icon-name-when-off="utility:add" icon-name-when-hover="utility:close"
                                                    icon-name-when-on="utility:keyboard_dismiss" onclick={HideShowTerrPlTable} class="slds-p-bottom_small">
                            </lightning-button-stateful>
                            <template if:true={showTerrPlTable}>
                                <lightning-input type="text" label="Territory Name" data-id="territoryName" class="slds-p-bottom_small"></lightning-input>
                                <div class="slds-p-bottom_small">
                                    <lightning-datatable key-field="Id" data= {data} 
                                                         columns= {columns} onrowselection= {handlePltSelection}
                                                         class="slds-max-medium-table--stacked">
                                    </lightning-datatable>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="slds-align_absolute-center btn-section-bottom slds-p-top_small">
                        <lightning-button label="Save" variant="brand" onclick={handleSave}></lightning-button>
                        <lightning-button label="Cancel" onclick={handleCloseModal} class="slds-var-p-left_x-small"></lightning-button>
                    </div>
                </div>
            </div>
        </lightning-card>
    </template>
</template>