.btn-section { padding: 16px; }
.btn-section-top { padding-top: 16px; } .btn-section-bottom { padding-bottom: 16px; }
.checkbox-align {  display: inline-block !important;float: left !important; }
.main-content-apl { background: white; height:100%}
.required { color:red }
.header-position {padding: 14px 0px 10px 40px;}
.pp-form {padding: 18px;}
.col-align { padding-left: 20px; }
.slds-modal__container { max-width: 98rem !important;width: 98% !important; }
.dt-table-top-margin { margin-top: 18px; }
.input-width { width:33%;}
.check-position{ display: inline-block; float: left; }
.slds-button_icon-border { height: 1.5rem; width: 1.5rem; }
.createNew-accordion { color: blue; }